@using EntityLayer.Concrete
@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rehber Listesi</h1>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Görsel</th>
        <th>Ad Soyad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Düzenle</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.GuideID</td>
            <td><img src=" @item.Image" height="50" width="50" /></td>
            <td>@item.Name</td>
            <td>@item.Descripition</td>
              @if (@item.Status==true)
              {
                  <td><a href="/Admin/Guide/ChangeToFalse/@item.GuideID" class="btn btn-outline-danger">Pasif Yap</a></td>

              }
              else
              {
                  <td><a href="/Admin/Guide/ChangeToTrue/@item.GuideID" class="btn btn-outline-success">Aktif Yap</a></td>
              }
            <td><a href="/Admin/Guide/EditGuide" class="btn btn-outline-primary">Düzenle</a></td>

        </tr>

    }


</table>

    <a href="/Admin/Guide/AddGuide" class="btn-behance btn-outline-dark">Yeni Rehber Ekle</a>


